/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol,
ul,
pre {
  margin: 0;
}


/*  */

html {
  scrollbar-color: var(--border-color) var(--neutral-dark);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}


nav {
  width: 100%;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: flex-end;
  gap: 2rem;

  background-color: var(--primary);
  color: var(--neutral-dark);
}

nav h1,
nav h2 {
  color: var(--neutral);
}

nav>a,
nav>h1,
nav>h2 {
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

nav a:hover,
nav h1.active,
nav h2.active {
  border-bottom-color: var(--neutral);
}

main {
  width: 50rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  */

img.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* BUTTON STYLES */
button,
a.btn {
  background-color: var(--primary);
  color: var(--neutral);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

button:hover,
a.btn:hover {
  background-color: var(--primary-dark);
}

a.btn:active {
  background-color: var(--primary-darker);
}

a.btn:visited {
  color: var(--neutral);
}

/* CARD STYLES */
.cards-container {
  display: grid;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-light);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card>img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  border: none;
}

.card>.img {
  height: 200px;
  background-color: var(--neutral-dark);
  text-align: center;
}

.card>.img>svg {
  height: 100%;
  margin: 0 auto;
}

.card>.card-content {
  padding: 1rem;
  flex: 1 0 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.card>.card-content h2 {
  margin: 0;
  font-size: 1.125rem;
}

.card a.btn {
  align-self: flex-start;
}


@media screen {}